@import url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/286148/Montserrat-Regular.ttf);
body {
	background: #dae9fa;
	color: #000;
}
.row {
	width: 100%;
}
.title-container {
	margin-bottom: 25px;
	margin-left: 0;
	text-align: center;
}
.title-container .title {
	font-family: 'Montserrat', sans-serif;
	margin-right: 15px;
	text-align: left;
	color: #1d2f50;
}
.select-country {
	width: 100%;
	background: white;
	padding: 10px 20px;
	border-radius: 5px;
}
h2 {
	color: #1d2f50;
}
.country-name {
	display: inline-block;
}
.country-flag {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 12px;
}
.main-container {
	max-width: 70%;
	padding: 50px;
	background: white;
	box-shadow: 0 12px 10px -6px #1d2f50;
}
.currency-input {
	width: 70%;
	margin-right: 5px;
	font-size: 20px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding-left: 10px;
}
